<!DOCTYPE html>
<html lang="no">
<head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tobias FEIN chat</title>
        <link rel="stylesheet" href="/style/style.css" />

  <script src="script/get-comments.js" defer>
    
  </script>
</head>
<body>
<h2>Alle kommentarer</h2>
  <div class ="commentList" id="commentList"></div>

  <h1>Legg til en kommentar</h1>
  <!-- Skjema for å legge til ny kommentar -->
  <form onsubmit="submitComment(event)">
    <textarea id="Kommentar" maxlength="200" required placeholder="Skriv din kommentar her..."></textarea>
    <div id="charCount">200</div>
    <br>
    <button type="submit">Legg til kommentar</button>
  </form>
  
  <p><a class="logout-link" href="/logout">Logg ut</a></p>
</body>
</html>
